button 
{
	cursor: pointer;
	outline: none;
}

.CreateAccount 
{		
	font-family: var(--font);
	background-color: var(--gray-light);
	margin: 25px auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

label
{
	font-family: var(--font);
	font-size: larger;
	width: fit-content;
}

.CreateAccount__form {
	width: 80%;
	background-color: white;
	margin-bottom: 20px;
	margin-top: 20px;
	position: relative;
	z-index: 10;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 20px 20px 10px rgba(0,0,0,.15);
}
.CreateAccount__content {
	padding: 40px;
	display: flex;
	flex-flow: column nowrap;
}

.Sex
{
	display: flex;
	justify-content: space-around;
}

.Sex label
{	
	font-size: large;
	margin-right: -150px;
}

.check , .radio{
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px;
}

[type=checkbox], [type=radio]{
	padding: 0;
}
.CreateAccount__title {
	color: var(--red);
	font-weight: 400;
	text-transform: uppercase;
	font-size: 25px;
	margin-bottom: 30px;
}
.CreateAccount__inp {
	outline: none;
	margin-bottom: 15px;
	padding: 20px 20px 20px 0;
	border: 0;
	border-bottom: 1px solid var(--gray-light);
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	font-family: var(--font);
}
.CreateAccount__buttons {
	display: flex;
	justify-content: space-between;
}
.CreateAccount__buttons > * {
	width: 50%;
	padding: 20px 15px;
	border: 0;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom-left-radius: 8px ;
	border-bottom-right-radius: 8px;
}
.btn--create
{
	background-color: var(--red);
	color: white;
	text-align: center;
}
.btn--cancel
{
	background-color: var(--gray-light);
	color: var(--gray);
	text-align: center;
}

