.Main-Content
{
	margin-top: 1%;
	margin-left: 22%;
	max-width: 100%;
	min-height: fit-content;
}

.AddButton a
{
	text-decoration: none;
	color: var(--red);
	font-size: 20px;

}

.AddButton a:hover
{
	text-decoration: none;
	color: var(--red);
}

.title_table
{
	padding-top: 2%;
	padding-bottom: 2%;
	float: left;
}
/** Table**/

.Table
{	
	width: 90%;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	padding: 10px;
	background: white;
	float: left;
}


.Table table {
	table-layout: fixed;
}

.Table th, td {
    text-transform: capitalize;
	text-align: center;
	width: 100px;
	padding: 5px 10px;
}

.Table thead {
	background: #f9f9f9;
	display: table;
	width: 100%;
	width: calc(100% - 16px);
}

.Table th
{
	background-color: var(--red);
	color: white;
}

.Table tbody {
	max-height: 300px;
	overflow: auto;
	display: block;
	width: 100%;
}

.Table tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.Table tr:nth-child(even)
{
	background-color: #f2f2f2;
}

.Table tr:hover
{
	background-color: #ddd;
}

/** End **/

.footer
{
	width: 100%;
	height: 50px;
	display: flex;
}